
<div class="media wow fadeInLeft jobs-media" data-wow-duration="1s" >
  <div class="media-left wow flipInY" data-wow-delay="1s">
    <%=image_tag(job.logo.thumb.url,class:"media-object img-circle" )%>
  </div>
  <div class="media-body">
    <div class="col-md-6">
      <%=link_to job_path(job) do%>
      <h4 class="media-heading1"><%=job.company_name%></h4>
      <p class="media-title">
        [招聘] [<%=job.work_location%>] [<%=job.company_name%>] <%=job.title%> <%=job.number_of_hiring%>名
      </p>
      <%end%>
    </div>
    <div class="col-md-6">
      <h4 class="media-heading2">薪资： <%= job.wage_lower_bound%> ~ <%=job.wage_upper_bound%></h4>
      <p class="p-container">
        <%if job.slogan.present?%>
          <%=job.slogan%>
        <%end%>
        <br>
        <%=sanitize job.remuneration%>
      </p>
    </div>
  </div>
</div>
