<div class="panel panel-default">

  <div class="panel-body">
    <%=link_to job_path(job) do%>
      [招聘] [<%=job.work_location%>] [<%=job.company_name%>] <%=job.title%> <%=job.number_of_hiring%>名
    <%end%>
  </div>
  <div class="panel-footer">
    <%= render_passed_days(job) %>
  </div>
</div>
