<div class="container">
  <!-- <% if @job.errors.any? %>
    <ul>
      <%@job.errors.full_messages.each do |error|%>
        <li><%=error%></li>
      <%end%>
    </ul>
  <%end%> -->
  <%=simple_form_for [:admin,@job] do |f|%>
  <h1>公司信息</h1>
  <div class="form-group <%=(f.object.errors[:company_name].any?)? "has-error":"" %> ">
    <%=f.label :company_name,"公司名称",:class=>"control-label"%>
    <%=f.text_field :company_name, :class=>"form-control",:placeholder=>"必填"%>
    <%if f.object.errors[:company_name]%>
      <span class="help-block"><%=safe_join(f.object.errors[:company_name],"、")%></span>
    <%end%>
  </div>
  <div class="form-group">
    <%=f.label :logo,"公司logo"%>
    <%=f.input :logo,as: :file%>
  </div>
  <div class="form-group">
    <%=f.label :slogan,"公司口号"%>
    <%=f.text_field :slogan,:class=>"form-control",:placeholder=>"一句话介绍公司"%>
  </div>

  <div class="form-group <%=(f.object.errors[:description].any?)? "has-error":""%>">
    <%=f.label :description,"公司简介",:class=> "control-label"%>
    <%=f.cktext_area :description,ckeditor: {language: 'zh-CN'} %>
    <% if f.object.errors[:description]%>
      <span class="help-block"><%=safe_join(f.object.errors[:description],"、")%></span>
    <% end %>
  </div>
  <div class="form-group <%=(f.object.errors[:official_website].any?)? "has-error":""%>">
    <%=f.label :official_website,"公司官网",:class=>"control-label"%>
    <%=f.url_field :official_website,  :class=>"form-control",:placeholder=>"请输入'http://'开头的网址"%>
    <% if f.object.errors[:official_website]%>
      <span class="help-block"><%=safe_join(f.object.errors[:official_website],"、")%></span>
    <% end %>
  </div>
  <div class="form-group">
    <%=f.label :company_address,"公司地址"%>
    <%=f.text_field :company_address,:class=>"form-control"%>
  </div>
  <div class="form-group <%=(f.object.errors[:contact_email].any?)? "has-error":""%>">
    <%=f.label :contact_email,"联系人邮箱",:class=>"control-label"%>
    <%=f.text_field :contact_email,:class=>"form-control",:placeholder=>"必填"%>
    <% if f.object.errors[:contact_email]%>
      <span class="help-block"><%=safe_join(f.object.errors[:contact_email],"、")%></span>
    <% end %>
  </div>
  <br>
  <hr>
  <h1>职位信息</h1>
  <div class="form-group <%=(f.object.errors[:title].any?)? "has-error":""%>">
    <%=f.label :title ,"职位名称",:class=>"control-label"%>
    <%=f.text_field :title,:class=>"form-control",:placeholder=>"必填"%>
    <% if f.object.errors[:title]%>
      <span class="help-block"><%=safe_join(f.object.errors[:title],"、")%></span>
    <% end %>
  </div>
  <div class="form-group">
    <%=f.label :skill_requirement ,"职位要求"%>
    <%=f.cktext_area :skill_requirement,ckeditor:{toolbar:'mini',language:'zh-CN'}%>
  </div>
  <div class="form-group <%=(f.object.errors[:wage_lower_bound].any?)? "has-error":""%>">
    <%=f.label :wage_lower_bound,"最低薪资",:class=>"control-label"%>
    <%=f.text_field :wage_lower_bound,:class=>"form-control",:placeholder=>"必填"%>
    <% if f.object.errors[:wage_lower_bound]%>
      <span class="help-block"><%=safe_join(f.object.errors[:wage_lower_bound],"、")%></span>
    <% end %>
  </div>
  <div class="form-group <%=(f.object.errors[:wage_upper_bound].any?)? "has-error":""%>">
    <%=f.label :wage_upper_bound,"最高薪资",:class=>"control-label"%>
    <%=f.text_field :wage_upper_bound,:class=>"form-control",:placeholder=>"必填"%>
    <% if f.object.errors[:wage_upper_bound]%>
      <span class="help-block"><%=safe_join(f.object.errors[:wage_upper_bound],"、")%></span>
    <% end %>
  </div>
  <div class="form-group <%=(f.object.errors[:remuneration].any?)? "has-error":""%>">
    <%=f.label :remuneration,"福利待遇",:class=>"control-label"%>
    <%=f.cktext_area :remuneration,ckeditor:{toolbar:'mini',language: 'zh-CN'},:placeholder=>"必填"%>
    <% if f.object.errors[:remuneration]%>
      <span class="help-block"><%=safe_join(f.object.errors[:remuneration],"、")%></span>
    <% end %>
  </div>
  <div class="form-group <%=(f.object.errors[:work_location].any?)? "has-error":""%>">
    <%=f.label :work_location ,"工作地点",:class=>"control-label"%>
    <%=f.text_field :work_location,:class=>"form-control"%>
    <% if f.object.errors[:work_location]%>
      <span class="help-block"><%=safe_join(f.object.errors[:work_location],"、")%></span>
    <% end %>
  </div>
  <div class="form-group <%=(f.object.errors[:number_of_hiring].any?)? "has-error":""%>">
    <%=f.label :number_of_hiring ,"招聘人数"%>
    <%=f.text_field :number_of_hiring,:class=>"form-control"%>
    <% if f.object.errors[:number_of_hiring]%>
      <span class="help-block"><%=safe_join(f.object.errors[:number_of_hiring],"、")%></span>
    <% end %>
  </div>
  <div class="form-group">
    <%=f.input :is_hot%>
  </div>
  <div class="form-group">
    <%=f.input :is_hidden%>
  </div>
  <div class="form-group">
    <%= f.text_field :cp_lat, :id => "maplat" %>
    <%= f.text_field :cp_lng, :id => "maplng"  %>
    <%= render "common/baidumap_1" %>
  </div>

  <div class="form-group">
    <%=f.submit "确定提交",:class=>"form-control btn btn-primary"%>
  </div>

  <%end%>
</div>
