<h2>我的简历</h2>
<%=simple_form_for @user_profile do |f|%>
  <div class="form-group">
    <%=f.label :name,"姓名"%>
    <%=f.text_field :name,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%=f.label :birthday,"出生日期"%>
    <%=f.date_select :birthday,:start_year=>1970,:end_year=>Date.current.year,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%=f.label :introduction,"自我介绍"%>
    <%=f.text_area :introduction,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%=f.label :phone,"联系电话"%>
    <%=f.text_field :phone,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%=f.label :email,"电子邮箱"%>
    <%=f.email_field :email,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%=f.label :blog,"个人博客"%>
    <%=f.text_field :blog,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%=f.label :github,"github"%>
    <%=f.text_field :github,:class=>"form-control"%>
  </div>
  <div class="form-group">

    <%=f.input :attachment ,:label=>"添加简历"%>
    <% if @user_profile.attachment.present? %>
      <i class="fa fa-eye"></i>
      <%= link_to("预览",@user_profile.attachment_url,target:"_blank")%>
    <% end %>
  </div>
  <div class="form-group">
    <%=f.submit "提交",class:"btn btn-primary "%>
  </div>
<%end%>
