<h3><%=@job.company_name%>-<%=@job.title%>的应聘信息</h3>
<%= form_tag bulk_update_admin_job_resumes_path,:class=>"form-inline" do%>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= check_box_tag "全选","1",false,:id=>"toggle_all"%> 全选</th>
      <th>应聘者</th>
      <th>投简历时间</th>
      <th>操作</th>

    </tr>
  </thead>
  <tbody>
    <% @resumes.each do |resume|%>
      <tr>
        <th><%=check_box_tag "ids[]",resume.id %></th>
        <td>
          <%= link_to admin_job_resume_path(@job,resume) do%>
            <%=resume.user.user_profile.name%>
          <% end %>
        </td>
        <td><%=resume.created_at.strftime('%F %T')%></td>
        <td><%=link_to("删除",admin_job_resume_path(@job,resume),:method=>:delete,data:{confirm:"are you sure?"})%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%=submit_tag "批次删除",:class=>"btn btn-danger",:data=>{:confirm=>"Are you sure?"}%></p>
<% end %>
<script type="text/javascript">
  $("#toggle_all").click(function(){
    if ($(this).prop("checked")){
      $("input[name='ids[]'").prop("checked",true)
    }else{
      $("input[name='ids[]']").prop("checked",false)
    }
  });
</script>
