<!DOCTYPE html>
<html>
  <head>
    <title>优职网</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/images/logo.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://api.map.baidu.com/api?v=2.0&ak=fitXUIqC5oHoWvnUhd4PwtHlbMb22AvH&s=1" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="shortcut icon" href="/favicon.ico">

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>
        <%= render "common/flashes" %>
        <%=yield%>

        <%=render "common/footer"%>
      </div>

    </div>
  </body>
</html>
<script type="text/javascript">
$(document).ready(function(){
  new WOW().init();
})
</script>
